<div class="row">
    <h2>Building this project</h2>
    <div class="col-md-6 col-xs-12 left-side">
        <img src="images/portApp.png" alt="Portfolio Picture">
    </div>
    <div class="col-md-6 col-xs-12 right-side">
        <h3>7-step approch to building websites</h3>
        <ul>
            <li><i class="ion-ios-checkmark-empty icon"></i>Define the project</li>
            <li><i class="ion-ios-checkmark-empty icon"></i>Plan out development</li>
            <li><i class="ion-ios-checkmark-empty icon"></i>Sketch ideas</li>
            <li><i class="ion-ios-checkmark-empty icon"></i>Design and Development</li>
            <li><i class="ion-code-working icon"></i>Optimization</li>
            <li><i class="ion-ios-checkmark-empty icon"></i>Launch</li>
            <li><i class="ion-ios-infinite icon"></i>Site maintenance</li>
        </ul>
        <p>Click below to see a visual illustration of my work flow</p>
        <button type="button" class="btn btn-primary" (click)="onClick()" [disabled]="disabled">Click here</button>
    </div>
</div>