<div class="row">
  <div class="attributes">
    <p>Database icon created by <a href="http://www.flaticon.com/free-icon/database_149206" target="_blank">Madebyoliver</a></p>
    <div class="reference">
      <span>&copy; 2016 johnadetutu.co.uk</span>
      <span>powerd by angular2 <i class="ion-social-angular"></i></span>
    </div>
  </div>
  <div class="contact">
    <h3>Contact Information</h3>
    <div class="more-contact">
      <p><i class="ion-iphone"></i>07947602408</p>
      <p><i class="ion-email"></i>johnadetutu90@gmail.com</p>
      <a href="https://www.facebook.com/john.adetutu" target="_blank"><i class="ion-social-facebook"></i></a>
      <a href="http://uk.linkedin.com/in/johnadetutu" target="_blank"><i class="ion-social-linkedin"></i></a>
      <a href="https://github.com/ruggedy" target="_blank"><i class="ion-social-github"></i></a>
    </div>
  </div>
</div>
